@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-style: italic;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0%;
}

a:hover {
    color: #D49B35;
}

a {
    color: #3882F6;
}

h1 {
    font-size: 48px;
    font-family: 'RobotoBlack', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-family: 'RobotoBlack', sans-serif;
    text-align: center;
    color: #1F2937;
}

/* ============ ALL PAGES HERO SECTION ============ */

header {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

#logo {
    height: 50px;
}

.logo_flex {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

/* nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
} */


.nav_link {
    margin-right: 10px;
    color: #F9FAF8;
    text-decoration: none;
}

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 5%;
    color: #E5E7EB;
}

.hero_image {
    max-width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 25px;
    object-fit: cover;
}

.scale {
    aspect-ratio: 2.08 / 1;
}


.hero_button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    padding: 3% 8%;
}

button:hover {
    background-color: #D49B35;
}

.hero_text {
    width: 80%;
    margin-top: -30px;
}

/* =============================================== */


/* ========== HOME PAGE | INFO SECTION ========== */

.info {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #1F2937;
    font-family: 'RobotoLight', sans-serif;
}

.home_main h2 {
    margin-bottom: -5px;
}

/* =============================================== */


/* ========== HOME PAGE | QUOTE SECTION ========== */

.quote {
    font-size: 36px;
    font-family: 'RobotoLightItalic', sans-serif;
    margin-top: 10px;
    background-color: #E5E7EB;
    padding: 5%;
    text-align: center;
    color: #1F2937;
}

.quote_caption {
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    color: #1F2937;
    text-align: right;
}

/* =============================================== */


/* ===== HOME PAGE | CALL-TO-ACTION SECTION ===== */

.calltoaction {
    background-color: #3882F6;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    color: #E5E7EB;
}

.calltoaction_button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px;
    border: solid;
    padding: 1% 5%;
}

.calltoaction_header {
    font-size: 24px;
    margin-bottom: -15px;
}

/* =============================================== */


/* ========== CONCEPT PAGE | INFO SECTION ========== */

.concept_details {
    flex-direction: column;
    display: flex;
    margin: 4% 0%;
    background-color: #E5E7EB;
    padding: 2% 10%;
    text-align: center;
    color: #1F2937;
}

.concept_image {
    max-width: 100%;
    width: 100%;
    height: 10%;
    aspect-ratio: 5 / 1;
    object-fit: fill;
}

#width_adjustment {
    overflow-wrap: break-word;
    margin: 2.5% 30%;
}

@media screen and (max-width: 900px) {
    #width_adjustment {
        margin: 10px 15%;
    }
}

.concept_main h2 {
    margin-bottom: -20px !important;
}

/* =============================================== */

/* ========== STAY PAGE | INFO SECTION ========== */

.stay_details {
    flex-direction: column;
    display: flex;
    margin: 4% 10%;
    /* padding: 2% 10%; */
    text-align: left;
    color: #1F2937;
    overflow: hidden;
}

/* .stay_image {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.room1 {
    flex: 2.0769;
}

.room2 {
    flex: 1.3309;
} */

.stay_image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room_details {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;
    background-color: #E5E7EB;
    margin: 2% 0%;
}

#font_fancy {
    font-family: 'RobotoLightItalic';
}

#left_orientation {
    text-align: left;
}

.stay_main h2 {
    margin-bottom: -40px !important;
}

/* =============================================== */


/* ===== CONTACT PAGE | MAIN + LOCATION SECTION ===== */

.location_details {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5% 5%;
    text-align: center;
    color: #1F2937;
}

.location_image {
    max-width: 80%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* =============================================== */


/* ===== CONTACT PAGE | FORM SECTION ===== */

.form_box {
    background-color: #3882F6;
    color: #F9FAF8;
    align-items: center;
    margin: 3% 3%;
    text-align: center;
    border-radius: 5px;
    padding: 1% 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_box h3 {
    font-size: 24px;
    font-family: 'RobotoBlack', sans-serif;
    color: #F9FAF8;
}

.input_box {
    display: grid;
    padding: 3%;
    margin-right: 100px;
}

.message_box {
    display: grid;
    padding: 3%;
    margin-right: 100px;

}

.label {
    font-family: 'RobotoLight';
    margin-bottom: 5px;
}

.form input,
textarea {
    border: 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form input {
    height: 20px;
}

textarea {
    min-width: 180px;
    max-width: 180px;
    min-height: 150px;
}

#form_button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    padding: 3% 0;
    height: auto;
    border-color: #F9FAF8;
    border: solid;
    min-width: 30%;
}

#form_button:hover {
    background-color: #D49B35;
}

/* =============================================== */



/* =========== ALL PAGES FOOTER SECTION =========== */

footer {
    text-align: center;
    padding: 1%;
    background-color: #1F2937;
    color: #E5E7EB;
}

/* =============================================== */